
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
*.swp
*.pem
connect.sh
password*

log_subview
lib/server.subview.js
www/assets/js
www/assets/css
www/assets/scaffold
