<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form id="form">
        Tarea:<br>
        <input id = "form_task" type="text" name="Title" required /><br>
        <input type="submit" value="Send" />
    </form>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>